

.bg-primary-mio
{
    background-color:azure ;
}

.bg-light-mio
{
    background-color:cadetblue ; 
}
.text-coral-mio
{
    color:black; 
}

.text-dimgray-mio
{
    color:black ; 
}

.text-info-mio
{
    color:cadetblue ; 
}

.text-burlywood-mio
{
    color:darkslategrey ; 
}

.bg-beige-mio
{
    background-color:darksalmon ; 
}

.bg-rosita-mio
{
    background-color:forestgreen ; 
}

